.swiper-wrapper.swipe-disabled {
  transform: translate3d(0, 0, 0)!important
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  height: auto!important
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transition-timing-function: ease;
  -o-transform: translate(0, 0);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  height: inherit!important
}

.pagination-hidden .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0)!important;
  -moz-transform: translate3d(0, 0, 0)!important;
  -o-transform: translate3d(0, 0, 0)!important;
  -o-transform: translate(0, 0)!important;
  -ms-transform: translate3d(0, 0, 0)!important;
  transform: translate3d(0, 0, 0)!important;
  left: 0!important;
  cursor: auto!important
}

.swiper-free-mode>.swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto
}

.swiper-slide {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 1;
  /*width: inherit;*/
  height: inherit!important
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x
}

.swiper-container .pagination {
  text-align: center;
  width: 100%;
  margin: 35px 0 0
}

.swiper-container.pagination-hidden .pagination {
  display: none!important
}

.swiper-pagination-switch {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #e3e3e3;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -ms-transition: all .3s ease-out
}

.swiper-active-switch {
  background: #03b4ea;
  border-color: #03b4ea
}

.swiper-arrow-left,
.swiper-arrow-right {
  position: absolute;
  top: 50%;
  cursor: pointer
}

.swiper-arrow-left {
  left: 0
}

.swiper-arrow-right {
  right: 0
}

.swiper-container.pagination-hidden .swiper-arrow-left,
.swiper-container.pagination-hidden .swiper-arrow-right {
  display: none!important
}
/*sssssssssssssssssssssss*/